$white: #ffffff !default;
$black: #000000 !default;

$main-bg-color: $black !default;
$main-color: $white !default;

$link-color: #999;
$link-focus-color: #ffbf47 !default;

$border-color: $white;

$main-color: $white !default;
$cake-border-color: rgb(51, 51, 51);
