@import 'main';

@font-face {
  font-family: 'GeosansLight';
  src: url('../fonts/GeosansLight/GeosansLight.ttf');
}

html {
  font-family: 'GeosansLight';
  font-size: 62.5%;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

html,
body {
  color: $main-color;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
}

:global #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-size: 190%;
  background-color: $main-bg-color;

  @include mq-l {
    font-size: 190%;
  }
}

ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $main-color;
  }

  &:focus {
    @include accessible-outline;
    color: $black;
  }
}

:global .wrapper {
  margin: 0 auto;
  max-width: $desktop-max-width;
}
