@import '../../assets/scss/main';

$form-element-height: 42px;

@mixin form-control {
  height: $form-element-height;
  width: 100%;
  padding: 6px 12px;
}

:global .form-group {
  @include mb(2);
}

.container {
  display: flex;
  flex: 1;
  form,
  button {
    @include mt(4);
  }

  button:first-of-type {
    background: $secondary-button-bg;
    color: $secondary-button-color;
    @include mr(2);
    border: 1px solid $error-red;
  }
}

.button__container {
  display: flex;
}
