@import '../../assets/scss/main';

.container {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: $cake-border-color;
  border-image: initial;
  overflow: auto;
  transition: all 0.2s ease;
  padding: 20px;
  margin-right: 40px;
  width: 100%;
  height: 270px;
  $color: $main-color;

  &:hover {
    border-color: $main-color;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .image__container {
    height: 150px;
    overflow: hidden;
    @include mt(2);
    img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
